<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List Vue.js v3</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">ToDo List</div>
                <div class="form">
                    <input type="text" v-bind:value="valueInput" v-on:input="handlyInput" v-on:keypress.enter="addTask">
                    <button class="btn" v-on:click="addTask">Add a new task</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>To Do</span>
                <span class="musk-num">{{ needDoList.length }}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(mask, index) in needDoList" :key="mask.id">
                    <div>
                        <input type="checkbox" name="" id="" v-on:change="doCheck(index, 'need')">
                        <span>{{ mask.title }}</span>
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'need')">Remove</button>
                </li>
            </ul>
            <h2>
                <span>Done</span>
                <span class="musk-num">{{ completeList.length }}</span>
            </h2>
            <ul class="mask-list complete-list">
                <li v-for="(mask, index) in completeList" :key="mask.id">
                    <div>
                        <input type="checkbox" checked name="" id="" v-on:change="doCheck(index, 'complete')">
                        <span>{{ mask.title }}</span>
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'complete')">Remove</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>